.signin {
    background-color: #33B5E5;
    padding: 15px 100px;
}

.signup { 
    background-color: #33B5E5;
    padding: 15px 50px;
}

.submit {
    background-color: #33B5E5;
    padding: 15px 70px;
}

.fb {
    background-color: 	#4285F4;
    height: 70px;
    padding-right: 50px;
}